# Exclude these files from the git repo
sitemap.*
wp-config.php
 
# Hidden system files
*.DS_Store
*[Tt]humbs.db
*.Trashes
 
wp-content/uploads/*.*
# Include these files in previously blocked directories
!wp-content/uploads/.htaccess
